@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  color: inherit;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

@media (min-width: 0) {
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
}
@media (min-width: 1200px) {
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}
.nav-fix {
  font-size: 1.4rem;
  background-color: #f7f8f8;
  border-bottom: 0 solid #f2f4f5;
  position: sticky;
  top: 0;
  z-index: 6;
}
.nav-fix .upper-bar {
  padding-top: 1em;
  gap: 30px;
  align-items: center;
}
.nav-fix .upper-bar img {
  max-width: 40px;
}
.nav-fix .upper-bar .motors a {
  justify-content: space-between;
  align-items: center;
  width: 90px;
}
.nav-fix .upper-bar .motors:hover {
  color: #3a77ff;
}
.nav-fix .upper-bar .motors .car-icon {
  background-color: #eceded;
  border-radius: 50%;
}
.nav-fix .upper-bar .motors .car-icon i {
  padding: 0.5em;
}
.nav-fix .upper-bar .property a {
  justify-content: space-between;
  align-items: center;
  width: 100px;
}
.nav-fix .upper-bar .property:hover {
  color: #3a77ff;
}
.nav-fix .upper-bar .property .property-icon {
  background-color: #eceded;
  border-radius: 50%;
}
.nav-fix .upper-bar .property .property-icon i {
  padding: 0.5em;
}
.nav-fix .mid-bar {
  align-items: center;
  justify-content: space-between;
}
.nav-fix .mid-bar a img {
  max-width: 80px;
}
.nav-fix .mid-bar .location-box {
  border: 2px solid #002f34;
  max-width: 21%;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  background-color: #fff;
  align-items: center;
  position: relative;
}
.nav-fix .mid-bar .location-box:hover .loc-sub-menu {
  display: block;
}
.nav-fix .mid-bar .location-box .loc {
  background-color: #fff;
  height: 45px;
  width: 95%;
  gap: 15px;
  align-items: center;
  padding-left: 1rem;
}
.nav-fix .mid-bar .location-box .loc1 {
  font-size: 1.6rem;
}
.nav-fix .mid-bar .location-box .loc1 p {
  width: 72%;
}
.nav-fix .mid-bar .location-box .loc1 a:hover i {
  transition: transform 0.2s ease-in-out;
  transform: rotate(180deg);
}
.nav-fix .mid-bar .location-box .loc-sub-menu {
  display: none;
  margin-top: 5px;
  overflow: auto;
  height: 320px;
  border-radius: 3px 0 0 3px;
  box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.nav-fix .mid-bar .location-box .loc-sub-menu > .loc {
  height: 60px;
}
.nav-fix .mid-bar .location-box .loc-sub-menu > :not(.loc4):hover {
  background: #c8f8f6;
}
.nav-fix .mid-bar .location-box .loc-sub-menu .loc2 {
  color: #3a77ff;
  font-size: 1.6rem;
  font-weight: 600;
  height: 75px;
}
.nav-fix .mid-bar .location-box .loc-sub-menu .loc3 {
  border-top: 1px solid #ced6d7;
  border-bottom: 1px solid #ced6d7;
}
.nav-fix .mid-bar .location-box .loc-sub-menu .loc4 {
  color: #b2b8bb;
}
.nav-fix .mid-bar .search-box {
  border: 2px solid #002f34;
  max-width: 54%;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  color: #767c80;
}
.nav-fix .mid-bar .search-box p,
.nav-fix .mid-bar .search-box i {
  padding: 0 1rem;
}
.nav-fix .mid-bar .search-box p {
  font-size: 1.6rem;
}
.nav-fix .mid-bar .search-box .search-icon {
  color: #fff;
  background-color: #002f34;
  height: 100%;
  width: 50px;
  cursor: pointer;
}
.nav-fix .mid-bar .search-box .search-icon i {
  padding-top: 0.3em;
}
.nav-fix .mid-bar a.login {
  font-size: 1.6rem;
  color: #002f34;
  font-weight: 600;
  border-bottom: 2px solid #002f34;
}
.nav-fix .mid-bar a.login:hover {
  border-bottom: 2px solid #f7f8f8;
}
.nav-fix .mid-bar .main-btn {
  position: relative;
  cursor: pointer;
}
.nav-fix .mid-bar .main-btn .main-btn-content {
  position: absolute;
  align-items: center;
  top: 30%;
  left: 20%;
}
.nav-fix .mid-bar .main-btn .main-btn-content button {
  background-color: #fff;
  border: none;
  font-weight: 700;
  color: #002f34;
  cursor: pointer;
}

.bottom-bar {
  font-size: 1.4rem;
  height: 50px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
.bottom-bar ul {
  align-items: center;
  gap: 20px;
  height: 50px;
}
.bottom-bar ul > a:first-child > div {
  align-items: center;
  gap: 10px;
}
.bottom-bar ul > a:first-child > div > li {
  color: #002f34;
  font-weight: 600;
}
.bottom-bar ul > :not(a:first-child):hover {
  color: #00b8da;
}

.landing-image {
  margin: 2em auto;
  height: 180px;
  background-image: url("../../img/295176473-800x600.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.olx-category {
  margin: 3em 0;
}
.olx-category .category-wrapper h1 {
  color: #002f34;
  font-size: 2.4rem;
  margin-bottom: 1em;
}
.olx-category .category-wrapper ul {
  gap: 5.5rem;
}
.olx-category .category-wrapper ul li {
  height: 100%;
}
.olx-category .category-wrapper ul li img {
  height: 90px;
}
.olx-category .category-wrapper ul li p {
  color: #000;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  margin-top: 0.5em;
}

.cards .card-wrapper > h1 {
  color: #002f34;
  font-size: 2.4rem;
  margin-top: 2em;
  margin-bottom: 1em;
}
.cards .card-wrapper .btn-top-wrapper {
  position: sticky;
  z-index: 6;
  top: 150px;
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: 600;
  gap: 0.5em;
  color: #002f34;
  border: 1px solid #002f34;
  width: fit-content;
  padding: 0.7em 1.5em;
  border-radius: 20px;
  cursor: pointer;
  background-color: #fff;
  left: 45%;
}
.cards .card-wrapper .btn-top-wrapper:hover {
  border: 3px solid #002f34;
}
.cards .card-wrapper .btn-top-wrapper i {
  font-size: 1.8rem;
}
.cards .card-wrapper .card-row-1 .img-container {
  background: url("../../img/iphone12.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  border-radius: 5px 5px 0 0;
}
.cards .card-wrapper .card-row-2 .img-container {
  background: url("../../img/toyota.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  border-radius: 5px 5px 0 0;
}
.cards .card-wrapper .card-row-3 .img-container {
  background: url("../../img/honda.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  border-radius: 5px 5px 0 0;
}
.cards .card-wrapper .card-row-4 .img-container {
  background: url("../../img/house.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  border-radius: 5px 5px 0 0;
}
.cards .card-wrapper .card-row-5 .img-container {
  background: url("../../img/tv.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  border-radius: 5px 5px 0 0;
}
.cards .card-wrapper .card-row-6 .img-container {
  background: url("../../img/tablet.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  border-radius: 5px 5px 0 0;
}
.cards .card-wrapper .card-row-7 .img-container {
  background: url("../../img/job.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  border-radius: 5px 5px 0 0;
}
.cards .card-wrapper .card-row .card {
  height: 330px;
  width: 300px;
  display: block;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1.4rem;
  gap: 25px;
}
.cards .card-wrapper .card-row .card .img-content {
  padding: 1em;
}
.cards .card-wrapper .card-row .card .img-content .first-line {
  justify-content: space-between;
  align-items: center;
  margin: 0.7em auto;
}
.cards .card-wrapper .card-row .card .img-content .first-line h1 {
  font-size: 1.6rem;
  color: #002f34;
  font-weight: 600;
}
.cards .card-wrapper .card-row .card .img-content .first-line i {
  font-size: 2rem;
}
.cards .card-wrapper .card-row .card .img-content .extra-info {
  color: #4c6567;
  gap: 0.6em;
  font-weight: 600;
  margin: 0.5em auto;
}
.cards .card-wrapper .card-row .card .img-content > p:nth-last-of-type(3) {
  font-size: 1.6rem;
  color: #002f34;
  font-weight: 400;
  margin: 1em auto;
}
.cards .card-wrapper .card-row .card .img-content > p:nth-last-child(2) {
  font-size: 1.4rem;
  color: #406367;
  margin-bottom: 0.5em;
}
.cards .card-wrapper .card-row .card .img-content > p:last-child {
  font-size: 1.2rem;
  color: #406367;
  margin-bottom: 0.5em;
}

.last-sec {
  margin-top: 6em;
  background-color: rgba(0, 47, 52, 0.03);
  color: #002f34;
}
.last-sec .row-wrapper > div {
  flex: 1 1 32%;
}
.last-sec .row-wrapper .img-content {
  text-align: left;
}
.last-sec .row-wrapper .img-content .img-content-wrapper {
  border-right: 2px solid #c6cfd1;
  width: fit-content;
  margin-top: 4em;
  padding-right: 2.8em;
}
.last-sec .row-wrapper .img-content .img-content-wrapper h1 {
  font-size: 3.2rem;
  margin-bottom: 0.6em;
  padding-top: 0.4em;
}
.last-sec .row-wrapper .img-content .img-content-wrapper p {
  font-size: 2rem;
  line-height: 2.8rem;
  padding-bottom: 0.6em;
}
.last-sec .row-wrapper .social-apps p {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 5.2em;
  margin-bottom: 1em;
}
.last-sec .row-wrapper .social-apps .row {
  gap: 10px;
}
.last-sec .row-wrapper .social-apps .row img {
  height: 36px;
  cursor: pointer;
}

footer .top-footer {
  background-color: #ebeeef;
  padding: 1.6rem 0 6.4rem;
  border-top: 1px solid rgba(0, 47, 52, 0.2);
}
footer .top-footer .top-footer-wrapper {
  justify-content: space-between;
}
footer .top-footer .top-footer-wrapper li:first-child {
  font-size: 1.4rem;
  color: #002f34;
  font-weight: 600;
  margin-bottom: 1em;
}
footer .top-footer .top-footer-wrapper li:not(first-child) {
  font-size: 1.2rem;
  color: #557477;
  margin-bottom: 0.6em;
}
footer .top-footer .top-footer-wrapper li:not(first-child):hover {
  color: #222a2b;
}
footer .top-footer .top-footer-wrapper ul:last-child {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}
footer .top-footer .top-footer-wrapper ul:last-child .icons-wrapper {
  width: fit-content;
}
footer .top-footer .top-footer-wrapper ul:last-child li {
  margin-bottom: 0.2em;
}
footer .top-footer .top-footer-wrapper ul:last-child .social-icons {
  gap: 8px;
}
footer .top-footer .top-footer-wrapper ul:last-child .social-icons img {
  cursor: pointer;
  height: 25px;
}
footer .top-footer .top-footer-wrapper ul:last-child .social-apps {
  margin-top: 3.5em;
  gap: 8px;
}
footer .top-footer .top-footer-wrapper ul:last-child .social-apps img {
  cursor: pointer;
  height: 25px;
}