.cards {
    .card-wrapper {
        h1 {
            color: $secondary;
            font-size: $font-lg;
            margin-bottom: 1em;
        }

        .card-row {
            .card {
                height: 310px;
                width: 300px;
                display: block;
                border: 1px solid #ddd;
                border-radius: 5px;
                font-size: $font-md-1;

                .img-container {
                    background: url('../../img/iphone12.jpg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 50%;
                }

                .img-content {
                    padding: 1em;

                    .first-line {
                        justify-content: space-between;

                        h1 {
                            font-size: $font-md-2;
                            color: $secondary;
                            font-weight: 600;
                        }

                        i {
                            font-size: 2rem;
                        }
                    }

                    p:nth-last-child(3) {
                        font-size: $font-md-2;
                        color: $secondary;
                        font-weight: 400;
                        margin-bottom: 1em;
                    }

                    p:nth-last-child(2) {
                        font-size: $font-md-1;
                        color: #406367;
                        margin-bottom: 0.5em;
                    }
                    
                    p:last-child {
                        font-size: 1.2rem;
                        color: #406367;
                        margin-bottom: 0.5em;

                    }
                }
            }
        }
    }
}