.login-menu {
    margin: 0 auto;
    width: fit-content;
    border: 2px solid red;
    font-size: $font-md-1;

    img {
        height: 100px;
    }

    .login-account {
        margin: 0.5em;
    }
}