@mixin icon-layout($base-width: 90px) {
    justify-content: space-between;
    align-items: center;
    width: $base-width;
}

@mixin box($base-width: 50%) {
    border: 2px solid $secondary;
    max-width: $base-width;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    background-color: $white;
    align-items: center;
}

nav {
    font-size: $font-md-1;

    .nav-fix {
        background-color: $primary;
        border-bottom: 0 solid #f2f4f5;
        z-index: 6;
        position: sticky;
        top: 0;


        .upper-bar {
            padding: 1em 0;
            gap: 30px;
            align-items: center;

            img {
                max-width: 40px;
            }

            .motors {
                a {
                    @include icon-layout(90px);
                }

                .car-icon {
                    background-color: #eceded;
                    border-radius: 50%;

                    i {
                        padding: 0.5em;
                    }
                }
            }

            .property {
                a {
                    @include icon-layout(100px);
                }

                .property-icon {
                    background-color: #eceded;
                    border-radius: 50%;

                    i {
                        padding: 0.5em;
                    }
                }
            }
        }

        .mid-bar {
            align-items: center;
            justify-content: space-between;

            a {
                img {
                    max-width: 80px;
                }
            }

            .location-box {
                @include box(23%);
                position: relative;

                &:hover .loc-sub-menu{
                    display: block;
                }

                .loc {
                    background-color: $white;
                    height: 45px;
                    width: 100%;
                    gap: 15px;
                    align-items: center;
                    // padding-left: 10px;
                }

                .loc1 {
                    font-size: $font-md-2;

                    p {
                        width: 70%;
                    }

                }

                .loc-sub-menu {
                    display: none;
                    // overflow: auto;

                    .loc2 {
                        color: $blue;
                        font-size: $font-md-2;
                        font-weight: 600;
                    }

                    .loc3 {
                        border-top: 1px solid #ced6d7;
                        border-bottom: 1px solid #ced6d7;
                    }

                    .loc4 {
                        color: #b2b8bb;
                    }
                }
            }

            .search-box {
                @include box(54%);
            }
        }
    }
}