@mixin icon-layout($base-width: 90px) {
    justify-content: space-between;
    align-items: center;
    width: $base-width;
}

@mixin box($base-width: 50%) {
    border: 2px solid $secondary;
    max-width: $base-width;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    background-color: $white;
    align-items: center;
}

nav {
    font-size: $font-md-1;

    .nav-fix {
        background-color: $primary;
        border-bottom: 0 solid #f2f4f5;
        z-index: 6;
        position: sticky;
        top: 0;


        .upper-bar {
            padding-top: 1em;
            gap: 30px;
            align-items: center;

            img {
                max-width: 40px;
            }

            .motors {
                a {
                    @include icon-layout(90px);
                }

                &:hover {
                    color: $blue;
                }

                .car-icon {
                    background-color: #eceded;
                    border-radius: 50%;

                    i {
                        padding: 0.5em;
                    }
                }
            }

            .property {
                a {
                    @include icon-layout(100px);
                }

                &:hover {
                    color: $blue;
                }

                .property-icon {
                    background-color: #eceded;
                    border-radius: 50%;

                    i {
                        padding: 0.5em;
                    }
                }
            }
        }

        .mid-bar {
            align-items: center;
            justify-content: space-between;
            
            a {
                img {
                    max-width: 80px;
                }
            }

            .location-box {
                @include box(21%);
                position: relative;

                &:hover .loc-sub-menu {
                    display: block;
                }

                .loc {
                    background-color: $white;
                    height: 45px;
                    width: 95%;
                    gap: 15px;
                    align-items: center;
                    padding-left: 1rem;
                }
                
                .loc1 {
                    font-size: $font-md-2;
                    
                    p {
                        width: 72%;
                    }

                    a:hover {
                        i {
                            transition: transform 0.2s ease-in-out;
                            transform: rotate(180deg);
                        }
                    }
                    
                }
                
                .loc-sub-menu {
                    display: none;
                    margin-top: 5px;
                    overflow: auto;
                    height: 320px;
                    border-radius: 3px 0 0 3px;
                    box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
                    -webkit-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
                    cursor: pointer;

                    &>.loc {
                        height: 60px;
                    }

                    &>:not(.loc4):hover {
                        background: $hover-blue;
                    }

                    .loc2 {
                        color: $blue;
                        font-size: $font-md-2;
                        font-weight: 600;
                        height: 75px;
                    }

                    .loc3 {
                        border-top: 1px solid #ced6d7;
                        border-bottom: 1px solid #ced6d7;
                    }

                    .loc4 {
                        color: #b2b8bb;
                    }
                }
            }

            .search-box {
                @include box(54%);
                justify-content: space-between;
                align-items: center;
                color: #767c80;
                
                p, i {
                    padding: 0 1rem;
                }
                
                p {
                    font-size: $font-md-2;
                }

                .search-icon {
                    color: $white;
                    background-color: $secondary;
                    height: 100%;
                    width: 50px;
                    cursor: pointer;

                    i {
                        padding-top: 0.3em;
                    }
                }
            }

            a.login {
                font-size: $font-md-2;
                color: $secondary;
                font-weight: 600;
                border-bottom: 2px solid $secondary;

                &:hover {
                    border-bottom: 2px solid $primary;
                }
            }

            .main-btn {
                position: relative;
                cursor: pointer;
                
                .main-btn-content {
                    position: absolute;
                    align-items: center;
                    top: 30%;
                    left: 20%;   
                    
                    button {
                        background-color: $white;
                        border: none;
                        font-weight: 700;
                        color: $secondary;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .bottom-bar {
        height: 50px;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);

        ul {
            align-items: center;
            gap: 20px;
            height: 50px;

            &>a:first-child>div {
                align-items: center;
                gap: 10px;

                &>li {
                    color: $secondary;
                    font-weight: 600;
                }
            }

            &>:not(a:first-child):hover {
                color: #00b8da;
            }
        }
    }
}