.last-sec {
    margin-top: 6em;
    background-color: rgba(0,47,52,.03);
    color: $secondary;

    .row-wrapper {
        &>div {
            flex: 1 1 32%;
        }

        .img-content {
            text-align: left;

            .img-content-wrapper {
                border-right: 2px solid $border-grey;
                width: fit-content;
                margin-top: 4em;
                padding-right: 2.2em;

                h1 {
                    font-size: $font-xl;
                    margin-bottom: 0.6em;
                    padding-top: 0.4em;
                }
                p {
                    font-size: 2rem;
                    line-height: 2.8rem;
                    padding-bottom: 0.6em;
                }
            }
        }

        .social-apps {

            p {
                font-size: $font-md-1;
                font-weight: 600;
                margin-top: 5.2em;
                margin-bottom: 1em;
            }

            .row {
                gap: 10px;

                img {
                    // width: 130px;
                    height: 36px;
                    cursor: pointer;
                }
            }
        }
    }
}